.layer1 {
  height: 100vh;
  background: url("./assets/images/background/main.jpeg");
  background-size: cover;
}

.intro {
  height: 50%;
}

.row {
  row-gap: 20px;
}

.title {
  font-weight: 800;
  letter-spacing: 4px;
  line-height: 1;
  text-shadow: 2px 2px black;
}

.trending {
  height: auto;
  background: url("./assets/images/background/romance.jpeg");
  background-size: cover;
}

.movie-card {
  height: auto;
  padding: 5px
}

.movie-image {
  height: 500px;
}

.superhero {
  height: auto;
  background: url("./assets/images/background/spiderman.jpeg");
  background-size: cover;
}